.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0 25rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-yellow, 0.8),
        rgba($color-yellow-dark-3, 0.8)),
    url(/images/sunflowers.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }

}

.section-choose-us {
  background-image: url(/images/leaves.jpg);
  background-size: cover;
  background-position: center;
  padding: 15rem 0;
  margin-top: -10rem;
  position: relative;
}
